<div class="center">

  <div class="card">
      <h1>1. Identify your Bird</h1>
      <% if logged_in?(session) %>

          <h3>Use the Audubon Bird Guide to identify your bird, then record your sighting.</h3>

          <form action="https://www.audubon.org/bird-guide" target="_blank" >
             <button type="submit">Go to Audubon Bird Guide</button>
          </form>

    <h1>2. Create a New Bird Sighting</h1>
    <h3>Click the button for the bird you identified, OR copy the URL and paste it in the form below.</h3>

    <form action='/sightings' method="post">

    <% @birds.sort_by(&:common_name).each do |bird| %>
      <input type="radio" name="bird[bird_id]" value="<%= bird.id %>"><%= bird.common_name %></input>
    <% end %>

      <p><label for="audubon_url">Audubon URL (optional): </label>
        <input type="string" name="audubon_url" ></p>

        <h3>Choose a location, or create a new location below.</h3>

        <% @locations.uniq.sort.each do |location| %>
          <input type="radio" name="sighting[location]" value="<%= location %>"><%= location %></input>
        <% end %>
    
          <p><label for="location">New Location (optional): </label>
            <input type="string" name="location" ></p>

      <p><label for="date">Date: </label>
        <input type="date" name="date" required></p>

      <p><label for="notes">Notes: </label>
        <input type="string" name="notes" required></p>
      <input type="submit" name="submit" value="Create New Sighting">
    </form>
  </div>

<% else %>
  <div>
    <h3> You Must Be Logged in to Create a Sighting </h3>

    <form action="/login" >
       <button type="submit">Log In</button>
    </form>
  </div>
<% end %>

</div>
