<div class="row">
  <div class="col-md-4">

    <div class="card">
      <h4 class="card-header">Identify your Bird</h4>
        <% if logged_in?(session) %>
        <div class="card-body">

            <h6 class="card-title">Use the Audubon Bird Guide to identify your bird, then record your sighting.</h6>

            <div class="form-group">
            <form action="https://www.audubon.org/bird-guide" target="_blank" >
              <button type="submit" id="submit" class="btn">Go to Audubon Bird Guide</button>
            </form>
            </div>
        </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">

      <h4 class="card-header">Create a New Bird Sighting</h4>
      <div class="card-body">
      <h6 class="card-title">Click the button for the bird you identified, OR copy the URL and paste it in the form below.</h6>

      <form action='/sightings' method="post">
      <% @birds.sort_by(&:common_name).each do |bird| %>
        <div class="form-check form-check-inline">

        <input type="radio" class="form-check-input" name="bird[bird_id]" id="bird[bird_id]" value="<%= bird.id %>"></input>
        <label class="form-check-label"><%= bird.common_name %></label>

        </div>

        <% end %>
      <div class="form-check form-check-inline">


      <input type="radio" class="form-check-input" name="bird[bird_id]"></input>
      <label class="form-check-label">Other (add URL below)</label>

      </div>

      <div class="form-group">
        <label for="audubon_url">Audubon URL (optional): </label>
          <input type="textarea" name="audubon_url" class="form-control">
      </div>

          <h6 class="card-title">Choose a location, or create a new location below.</h6>

          <% @locations.uniq.sort.each do |location| %>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="sighting[location]"  value="<%= location %>"></input>
              <label class="form-check-label"><%= location %></label>
            </div>
          <% end %>
          
          <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="sighting[location]"></input>
          <label class="form-check-label">Other (add location below)</label>
          </div> 

          <div class="form-group">
            <label for="location">New Location (optional): </label>
              <input type="textarea" name="place" class="form-control">
          </div>

          <div class="form-group">
          <label for="date">Date: </label>
          <input type="date" name="date" class="form-control" required>
          </div>

          <div class="form-group">
          <label for="notes">Notes: </label>
          <input type="textarea" name="notes" class="form-control" required>
          </div>
        <input type="submit" id="submit" name="submit" class="btn" value="Create New Sighting">
      </form>
      </div>
    </div>
  </div>
  </div>

<% else %>
  <div>
    <h3> You Must Be Logged in to Create a Sighting </h3>

    <form action="/login" >
       <button type="submit">Log In</button>
    </form>
  </div>
<% end %>

</div>
