<div class="center">

  <div class="card">
      <h1>1. Identify your Bird</h1>
      <% if logged_in?(session) %>

          <h3>Use the Audubon Bird Guide to identify your bird, then record your sighting.</h3>

          <form action="https://www.audubon.org/bird-guide" target="_blank" >
             <button type="submit" id="submit" >Go to Audubon Bird Guide</button>
          </form>

    <h1>2. Create a New Bird Sighting</h1>


    <form action='/sightings' method="post">

      <p><label for="audubon_url">Audubon URL (optional): </label>
        <input type="textarea" name="audubon_url" ></p>
    
          <p><label for="location">Location (optional): </label>
            <input type="textarea" name="place" ></p>

      <p><label for="date">Date: </label>
        <input type="date" name="date" required></p>

      <p><label for="notes">Notes (optional): </label>
        <input type="textarea" name="notes" ></p>
      <input type="submit" id="submit" name="submit" value="Create New Sighting">
    </form>
  </div>

<% else %>
  <div>
    <h3> You Must Be Logged in to Create a Sighting </h3>

    <form action="/login" >
       <button type="submit">Log In</button>
    </form>
  </div>
<% end %>

</div>
