/*global*/

body,header, h1,h2,h3,h4,h5,h6, p {
  font-family: 'Open Sans', sans-serif;
  color: #BC986A;
}

h1 {
  font-size: 70px;
  color: #FBEEC1;
  align-content: center;
  align-items: center;
}

body {
  background-color: #BC986A;
  padding: 1em;
  width: 95%;
}



/*header*/
body header {
  background-color: #659DBD;
  position: relative;
  width: 95%;
  align-content: space-around;
  padding: 1em;
}

body div.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
  width: inherit;
}

.wrapper div {
  padding: 1em;
}

button.small {
  background-color: #FBEEC1;
  width: 30%;
  padding: 1em;
  margin: 1em;
  border-radius: 12px
}

button.large {
  background-color: #FBEEC1;
  width: 100%;
  padding: 1em;
  margin: 1em;
  border-radius: 12px
}

/*body index pages*/

body div.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width: inherit;

}

div.card {
  position: relative;
  padding: 1em;
  background-color: white;
  color: white;
  align-content: center;
  color: #BC986A;
}

div.title {
  background-color: #FBEEC1;

}


body div.row {
  background-color: #FBEEC1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  width: inherit;
  padding: 1em;
  margin-top: 1em;
  /*align-items: center;*/
}

/*div.card button {
  position: relative;
  bottom: 0;
}*/

img.small {
  size: 50%;

}

img.large {

}
