<div class="container">
  <div class="row">
    <h1>Error</h1>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Email and or Username are already in use.</h2>
    <br>
  </div>
</div>
