<h1>index.erb</h1>
<p>build out to include intro, directions, sign up and login links</p>



<h1>Welcome to Bird Log!</h1>

<a href="/signup">New Users: Click here to sign up</a>

<a href="/login">Current Users: Click here to log in</a>
