
    <div class="container">
      <div class='row'>
        <div class='col-md-12'>
          <h1>Welcome to Bird Log!</h1>
        </div>
      </div>
    </div>


  <div class="container">
    <div class='row'>

        <div class="col-md-4 text-xs-center msection">
          <h2>IDENTIFY</h2>
          <br>
          <h4>Use the Audubon Online Bird Guide to identify each bird you see.</h4>
          <br>
        </div>

        <div class="col-md-4 text-xs-center msection">
          <h2>RECORD</h2>
          <br>
          <h4>Create and update your sightings of each bird.</h4>
          <h4>Look for patterns and trends over time.</h4>
        </div>

        <div class="col-md-4 text-xs-center msection">
          <h2>EXPLORE</h2>
          <br>
          <h4>View detailed information on each Bird Species.</h4>
          <h4>See what other users are seeing.</h4>
        </div>
      </div>
  </div>