<p><em>need to include intro, directions</em></p>

<h1>Welcome to Bird Log!</h1>

<form action="/signup" >
   <button type="submit">New Users: Create an Account</button>
</form>

<form action="/login" >
   <button type="submit">Current Users: Log In</button>
</form>
