<div class="container">
  <div class="row">
    <h1>New User?</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <form action="/signup" method="POST">
      <p><label for="username">Username: </label>
        <input type="text" id="username" name="username"></p>
      <p><label for="email">Email: </label>
        <input type="email" id="email" name="email"></p>
      <p><label for="password">Password: </label>
        <input type="password" id="password" name="password"></p>
      <input type="submit" id="submit" value="Create Account">
    </form>
  </div>
</div>
