<h1>New User?</h1>

<% if @error %>
<%  @error.each do |error|%>
  <%=error%>
  <%end%>
<h2>Please try a different username, email, and password</h2>

<form action="/signup" method="POST">
  <p><label for="username">Username: </label>
    <input type="text" id="username" name="username"></p>
  <p><label for="email">Email: </label>
    <input type="text" id="email" name="email"></p>
  <p><label for="password">Password: </label>
    <input type="text" id="password" name="password"></p>
  <input type="submit" value="Create Account">
</form>


<%  else%>

<form action="/signup" method="POST">
  <p><label for="username">Username: </label>
    <input type="text" id="username" name="username"></p>
  <p><label for="email">Email: </label>
    <input type="text" id="email" name="email"></p>
  <p><label for="password">Password: </label>
    <input type="text" id="password" name="password"></p>
  <input type="submit" value="Create Account">
</form>

<%end%>
