<!doctype html>
<html>
<head>
  <title>Bird Log</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<style>
  body,header, h1,h2,h3,h4,h5,h6 {font-family: 'Open Sans', sans-serif}

  header {
    background-color: #659DBD;
    position: relative;
    width: 100%;
    align-content: space-around;
    padding: 2em;
  }

  header h1 {
    font-size: 70px;
    color: #FBEEC1;
    align-content: center;
    align-items: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    width: inherit;
  }

  .wrapper div {
    /*background-color: #FBEEC1;*/
    padding: 1em;
  }

  button {
    background-color: #DAAD86;
    size: 20px;
  }

  body {
    background-color: #DAAD86;
    padding: 2em;
  }

</style>
</head>
<body>

<header>
<div>
  <h1>Bird Log</h1>

  </div>
  <div class="wrapper">
  <% if Helpers.logged_in?(session) %>

    <div>
      <form action="/birds" >
         <button type="submit">All Birds</button>
      </form>
    </div>

    <div>
      <form action="/birds" >
         <button type="submit">My Birds</button>
      </form>
    </div>


    <div>
      <form action="/sightings" >
         <button type="submit">All Sightings</button>
      </form>
    </div>


    <div>
      <form action="/sightings/new" >
         <button type="submit">New Sighting</button>
      </form>
    </div>


    <div>
      <form action="/logout" >
         <button type="submit">Logout <%=Helpers.current_user(session).username%></button>
      </form>
    </div>


    <% else %>
      <div>
        <form action="/signup" >
           <button type="submit">Sign Up</button>
        </form>
      </div>

      <div>
        <form action="/login" >
           <button type="submit">Log In</button>
        </form>
      </div>
    <% end %>
  </div>

  </header>

  <%= yield %>

</body>
</html>
