<!doctype html>
<html lang="en">

<head>
  <title>Bird Log</title>

  <style>
  </style>
</head>

<body>

  <header>
    <div class="">
      <h1>Bird Log</h1>

      <% if logged_in?(session) %>
        <div>
          <form action="/users" >
             <button class="" type="submit">Home</button>
          </form>
        </div>

        <div>
          <form action="/sightings/new" >
             <button class="" type="submit">New Sighting</button>
          </form>
        </div>

        <div>
          <form action="/sightings" >
             <button class="" type="submit">All Sightings</button>
          </form>
        </div>

        <div>
          <form action="/birds" >
             <button class="" type="submit">All Birds</button>
          </form>
        </div>

        <div>
          <form action="/logout" >
             <button class="" type="submit">Logout <%=current_user(session).username%></button>
          </form>
        </div>

      <% else %>
        <div>
        </div>

        <div>
          <form action="/signup" >
             <button class="" type="submit">New Users: Create an Account</button>
          </form>
        </div>

        <div>
        </div>

        <div>
          <form action="/login" >
             <button class= "" type="submit">Current Users: Log In</button>
          </form>
        </div>

        <div>
        </div>

      <% end %>
    </div>
  </header>

  <%= yield %>

  <footer>
    <h5>2019 - Jesse Byers - <a href="https://github.com/jessesbyers/bird_log">Visit Project on GitHub</a></h5>
  </footer>

</body>
</html>
