<!doctype html>
<html lang="en">
<head>
  <title>Bird Log</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> -->
  <style>
    header .wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
      background-color: yellow;
      border-radius: 12px;

      /*padding: 1em;*/
      /*margin: 1em;*/
    }

    div {
      text-align: center;
    }

    header button {
      /*background-color: #FBEEC1;*/
      width: 100%;
      padding: 1em;
      /*margin: 1em;*/
      border-radius: 12px;
    }
    body {
      margin: 1em;
      background-color: grey;
    }

    div {
      margin: 1em;
      padding: 1em;
      border-radius: 12px;



    }

    footer {
      text-align: right;
      background-color: yellow;
      padding: 1em;
      margin: 1em;
      border-radius: 12px;

    }
  </style>
</head>

<body>

<header>
  <div class="wrapper">
  <div>
    <h1>Bird Log</h1>
    </div>

      <% if Helpers.logged_in?(session) %>

      <div>
        <form action="/users" >
           <button class="large" type="submit">Home</button>
        </form>
      </div>

      <div>
        <form action="/birds" >
           <button class="large" type="submit">Birds</button>
        </form>
      </div>

        <div>
          <form action="/sightings" >
             <button class="large" type="submit">All Sightings</button>
          </form>
        </div>

        <div>
          <form action="/sightings/new" >
             <button class="large" type="submit">New Sighting</button>
          </form>
        </div>

        <div>
          <form action="/logout" >
             <button class="large" type="submit">Logout <%=Helpers.current_user(session).username%></button>
          </form>
        </div>

        <% else %>
          <div class="center">
            <form action="/signup" >
               <button class="large" type="submit">New Users: Create an Account</button>
            </form>
          </div>

          <div>
            <form action="/login" >
               <button class= "large" type="submit">Current Users: Log In</button>
            </form>
          </div>
      <% end %>
    </div>

  </header>

  <%= yield %>

  <footer>
    <p>add footer content here</p>
  </footer>

</body>
</html>
